
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  color: dark gray;
  margin: 10px;
  /* margin-top: 2px; */
  border-top-right-radius: 1px;
  padding: 10px;
  padding-bottom: 20px;
  /* display: inline-block; */
}

h3 {
  color: dark gray;

}

button [type="button"] {
  width: fit-content;
  display: inline-block;
  color: red;
}